@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    scroll-behavior: smooth;
}

.navbar {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
}
.navbar.hide {
    transform: translateY(-50px);
    opacity: 0;
}

.menu {
    display: flex;
    gap: 1em;
}

.menu li {
    padding: 5px 14px;
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #000;
}

.bg-sosial {
    background-color: #ffc700;
    height: 30px;
    padding-top: 5px;
}

.t-sos {
    font-size: 13px;
    font-weight: 500;
    color: #000;
}

.link-sos {
    font-weight: 500;
    color: #000;
    font-size: 13px;
}

.link-sos1 {
    color: #000;
    text-decoration: underline;
}

.logo {
    width: 170px;
}

.t-nav {
    transition: all 0.225s ease;
    cursor: pointer;
    width: 115px;
    font-weight: 500;
    color: #000;
}

.t-nav:hover {
    color: #ffc700;
}

.b-bottom {
    display: none;
    width: 280px;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.hero {
    margin-top: 80px;
    margin-bottom: 40px;
}

.baik {
    font-weight: 600;
    font-size: 34px;
}

.j-hero {
    font-size: 34px;
    color: #000;
    font-weight: 400;
    line-height: 3rem;
    overflow: hidden;
}

.i-hero {
    color: #ffc700;
    font-size: 18px;
    overflow: hidden;
}

.d-hero {
    font-size: 16px;
    opacity: 80%;
    font-weight: 400;
    overflow: hidden;
}


.foto-hero {
    max-width: 85%;
    margin-top: -90px;
    margin-left: 60px;
}

.button-hero {
    margin-top: 5px;
    outline: none;
    border: none;
    background-color: #ffc700;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.button-hero:hover {
    background-color: #f8ce36;
    color: rgb(0, 0, 0);
}

.link-b {
    text-decoration: underline;
    color: #000;
    font-weight: 500;
    margin-left: 3px;
}

.link-b:hover {
    color: rgb(43, 43, 43);
}

.arrow {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#opening {
    background-color: #ffc700;
    padding: 30px;
}

.t-open {
    color: #000;
}

.r-open {
    justify-content: center;
}

.foto-section2 {
    width: 900px;
    margin: auto;
}

.j-utama {
    font-size: 16px;
    color: #ffc700;
    font-weight: 600;
}

.d-utama {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    line-height: 2.8rem;
}

.hr-om {
    border: 1px solid rgb(126, 126, 126);

    justify-content: center;
    margin: auto;

    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
}

.foto-s4 {
    width: 400px;
}

.btn-turu {
    outline: none;
    border: none;
    background-color: #ffc700;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.btn-turu:hover {
    background-color: #f8ce36;
    color: rgb(0, 0, 0);
}

.j-turu {
    font-weight: 400;
    font-size: 32px;
    line-height: 2.8rem;
    color: #000;
}

.j-name {
    color: #ffc700;
    font-size: 18px;
    font-weight: 600;
}

.d-name {
    font-weight: 600;
    color: #000;
    font-size: 28px;
    line-height: 2rem;
}

.foto-murid {
    width: 80px;
}

.murid {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.murid1 {
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin: auto;
}

.murid2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.murid3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.t-murid {
    font-size: 16px;
    margin-top: 10px;
}

.t-dev {
    color: #ffc700;
    font-size: 20px;
}

.d-dev {
    color: #000;
    font-weight: 600;
    font-size: 32px;
}
.name-dev{
    color: #000;
    font-size: 18px;
    padding: 5px;
    width: 38%;
    text-align: center;
    border-radius: 15px;
    background-color: #ffc700;
    cursor: pointer;
    color: #ffff;
    font-weight: 400 !important;
}

.garis-ketik::after {
    content: "|";
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffc700;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 100px;
    opacity: 0;
    transform: translateY(30px);
    filter: blur(5px);
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.725);
}

.myBtn-active {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    filter: blur(0px) !important;
}

#myBtn:hover {
    background-color: #f8ce36;
}

.close {
    transform: translate(0%, -50%);
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 0%;
    padding: 12px 16px;
    color: #000;
}
#garis {
    font-weight: 400 !important;
}
#socialmedia {
    transition: all 0.5s ease;
}
.dissmised {
    opacity: 0;
    margin-top: -30px;
}
canvas {
    display: block;
}
/* ---- tsparticles container ---- */
#tsparticles {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
}
.barba-transition {
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    background-color: #ffc700;
    z-index: 10000;
}
.floating-btn {
    display: table-cell;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem !important;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #ffc700;
    color: var(--mdb-light);
    text-decoration: none;
    transition: all .5s ease;
    outline: 0px solid #e4a11b50;
}

a[href="nama.html"]>.floating-btn:hover {
    outline: 8px solid #e4a11b50;
    transform: rotate(-270deg);
}
a[href="index.html"]>.floating-btn:hover {
    outline: 8px solid #e4a11b50;
    transform: rotate(270deg);
}
