/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 250, 250);
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
}

.navbar.hide {
    transform: translateY(-50px);
    opacity: 0;
}

.menu {
    display: flex;
    gap: 1em;
}

.menu li {
    margin-bottom: -15px;
}

input[type="checkbox"] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #000;
}

.bg-sosial {
    background-color: #ffc700;
    height: 30px;
    padding-top: 5px;
}

.t-sos {
    font-size: 13px;
    font-weight: 500;
    color: #000;
}

.link-sos {
    font-weight: 500;
    color: #000;
    font-size: 13px;
}

.link-sos1 {
    color: #000;
    text-decoration: underline;
}

.logo {
    width: 170px;
    cursor: pointer;
}

.t-nav {
    transition: all 0.225s ease;
    cursor: pointer;
    width: 115px;
    font-weight: 500;
    color: #000;
}

.t-nav:hover {
    color: #ffc700;
}

.b-bottom {
    display: none;
    width: 280px;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.hero {
    margin-top: 80px;
    margin-bottom: 40px;
}

.baik {
    font-weight: 600;
    font-size: 34px;
}

.j-hero {
    font-size: 34px;
    color: #000;
    font-weight: 400;
    line-height: 3rem;
    overflow: hidden;
}

.i-hero {
    color: #ffc700;
    font-size: 18px;
    overflow: hidden;
}

.d-hero {
    font-size: 16px;
    opacity: 80%;
    font-weight: 400;
    overflow: hidden;
}

.foto-hero {
    max-width: 85%;
    margin-top: -90px;
    margin-left: 60px;
}

.button-hero {
    margin-top: 5px;
    outline: none;
    border: none;
    background-color: #ffc700;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 28px 8.5px 28px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    outline: transparent solid 0px;
    color: #fff;
    transition: all 0.4s ease-out;
}

.button-hero:hover {
    outline: rgba(228, 161, 27, 0.314) solid 6px;
}

.link-b {
    text-decoration: underline;
    color: #000;
    font-weight: 500;
    margin-left: 3px;
}

.link-b:hover {
    color: rgb(43, 43, 43);
}

.arrow {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

#opening {
    background-color: #ffc700;
    padding: 30px;
}

.t-open {
    color: #000;
}

.r-open {
    justify-content: center;
}

.foto-section2 {
    width: 900px;
    margin: auto;
}

.j-utama {
    font-size: 16px;
    color: #ffc700;
    font-weight: 600;
}

.d-utama {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    line-height: 2.8rem;
}

.hr-om {
    border: 1px solid rgb(126, 126, 126);

    justify-content: center;
    margin: auto;

    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
}

.foto-s4 {
    width: 400px;
}

.j-turu {
    font-weight: 400;
    font-size: 32px;
    line-height: 2.8rem;
    color: #000;
}

.j-name {
    color: #ffc700;
    font-size: 18px;
    font-weight: 600;
}

.d-name {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #000;
    font-size: 28px;
    line-height: 2rem;
}

.foto-murid {
    width: 80px;
}

.murid {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.murid1 {
    display: flex;
    justify-content: space-between;
    width: 72%;
    margin: auto;
}

.murid2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.murid3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.t-murid {
    font-size: 16px;
    margin-top: 10px;
}

.t-dev {
    color: #ffc700;
    font-size: 20px;
}

.d-dev {
    color: #000;
    font-weight: 600;
    font-size: 32px;
}

.name-dev {
    color: #000;
    font-size: 18px;
    padding: 5px;
    width: 38%;
    text-align: center;
    border-radius: 15px;
    background-color: #ffc700;
    cursor: pointer;
    color: #ffff;
    font-weight: 400 !important;
}

.garis-ketik::after {
    content: "|";
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffc700;
    color: white;
    cursor: pointer;
    padding: 14px 18px;
    border-radius: 100px;
    opacity: 0;
    transform: translateY(30px);
    filter: blur(5px);
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.725);
}

.myBtn-active {
    opacity: 1 !important;
    transform: translateY(0px) !important;
    filter: blur(0px) !important;
}

#myBtn:hover {
    background-color: #f8ce36;
}

.close {
    transform: translate(0%, -50%);
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 0%;
    padding: 12px 16px;
    color: #000;
}

#garis {
    font-weight: 400 !important;
}

#socialmedia {
    transition: all 0.5s ease;
}

.dissmised {
    opacity: 0;
    margin-top: -30px;
}

canvas {
    display: block;
}

/* ---- tsparticles container ---- */
#tsparticles {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 50%; */
}

.barba-transition {
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    background-color: #ffc700;
    z-index: 10000;
}

.floating-btn {
    display: table-cell;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem !important;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #ffc700;
    color: var(--mdb-light);
    text-decoration: none;
    transition: all 0.5s ease;
    outline: 0px solid #e4a11b50;
}

a[href="nama.html"] > .floating-btn:hover {
    outline: 8px solid #e4a11b50;
    transform: rotate(-270deg);
}

a[href="index.html"] > .floating-btn:hover {
    outline: 8px solid #e4a11b50;
    transform: rotate(270deg);
}

.c-moon {
    color: #ffff;
    background-color: #ffc700;
    padding: 40px;
    margin: 200px 0px 0px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* school */
.parallax-container {
    width: 100vw;
    height: 100vh;
    margin-bottom: -50px;
}

.opac-0 {
    opacity: 0;
}

.trans-school {
    transition: all 0.4s ease-in;
}

/* gallery */

.gallery-hero {
    justify-content: center;
    display: flex;
    z-index: 1;
    position: relative;
    height: 610px;
    overflow: hidden;
    background: url("/img/gallery/c-1.webp") no-repeat center;
    background-size: cover;
    animation: change 30s infinite;
}

.gallery-hero::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.gallery-hero::before {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("/img/gallery/c-1.webp") url("/img/gallery/c-2.webp") url("/img/gallery/c-3.webp") url("/img/gallery/c-4.webp") url("/img/gallery/c-5.webp") url("/img/gallery/c-6.webp") url("/img/gallery/c-7.webp") url("/img/gallery/c-8.webp");
}
@keyframes change {
    12.5% {
        background-image: url("/img/gallery/c-2.webp");
    }

    22.5% {
    }

    25% {
        background-image: url("/img/gallery/c-3.webp");
    }

    35% {
    }

    37.5% {
        background-image: url("/img/gallery/c-4.webp");
    }

    47.5% {
    }

    50% {
        background-image: url("/img/gallery/c-5.webp");
    }

    60% {
    }

    62.5% {
        background-image: url("/img/gallery/c-6.webp");
    }

    72.5% {
    }

    75% {
        background-image: url("/img/gallery/c-7.webp");
    }

    85% {
    }

    87.5% {
        background-image: url("/img/gallery/c-8.webp");
    }

    97.5% {
    }

    /* ulang awal */
    100% {
        background-image: url("/img/gallery/c-1.webp");
    }
}

.herog-text {
    margin: auto;
    z-index: 2;
    text-align: center;
}

.herog-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}

.herog-text > p {
    color: rgb(223, 223, 223);
    font-weight: 400;
    font-size: 18px;
}

.btn-hgallery {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: 600;
}

.btn-hgallery:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    border-radius: 10rem;
    z-index: -2;
    border: 2px solid #fff;
}

.btn-hgallery:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s;
    border-radius: 10rem;
    z-index: -1;
    color: #222;
}

.btn-hgallery:hover {
    color: #222;
}

.btn-hgallery:hover:before {
    width: 100%;
}

.memory > img {
    width: 150px;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
}

.bg-memory {
    /* background-image: url( '/img/gallery/pattern.svg' ); */
    background-color: #fff;
    margin-top: -30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    align-items: center;
    border-radius: 20px;
    text-align: left;
    z-index: 3;
}

.card-memory {
    padding: 30px;
    color: #222;
}

.line-memory {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.line-memory > h4 {
    color: #222;
    margin: 0;
    font-weight: 600;
}

.card-memory > p {
    margin-top: 10px;
}

.line-memory > hr {
    width: 20px;
    background-color: #222;
    height: 2px;
    margin: 0;
    opacity: 80%;
}

.j-event1 h4 {
    margin: 0;
    color: #222;
    font-weight: 600;
    background-color: #ffc700;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 18px;
}

.j-event1 {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.j-event1 > hr {
    margin: 0;
    width: 60px;
    height: 2px;
    background-color: #222 !important;
    opacity: 80%;
}

.parallax {
    transition: background-position-y 0.5s ease;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeslider {
    margin-top: 20px;
    /* border: 30px #ffc700 solid; */
    background-color: #ffc700;
    padding: 0 10px 0 10px;
}

.img-slider {
    width: 100%;
}

.loading-load {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--mdb-white);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.2s ease-in;
}

.loading-load > h1 {
    z-index: 2;
    color: #333533 !important;
}

.loading-load > video {
    margin-top: -40px;
    width: 100px;
}

.copyright {
    margin-top: 30px;
    padding: 5px 0;
    background-color: #ffc700;
}
.copyright p {
    font-weight: 500;
    font-size: 14px;
    color: #222;
    text-align: center;
}
